# What is Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

https://pandas.pydata.org/about/index.html

# Pandas Series
A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# List se series

country = ['India', 'Pakistan', 'Bangladesh', 'Sri Lanka', 'Nepal']

pd.Series(country)

0         India
1      Pakistan
2    Bangladesh
3     Sri Lanka
4         Nepal
dtype: object

In [3]:
# Integer
runs = [13,24,45,56,100]

pd.Series(runs)

0     13
1     24
2     45
3     56
4    100
dtype: int64

In [4]:
# custom Index
marks = [23,45,67,89,90]
subjects = ['maths', 'physics', 'chemistry', 'english', 'hindi']

pd.Series(marks, index = subjects)

maths        23
physics      45
chemistry    67
english      89
hindi        90
dtype: int64

In [6]:
# we can provide a name to this series
marks_of_students = pd.Series(marks, index = subjects, name = 'Marks of students')

In [8]:
# Series from dict

marks_dict = {'maths': 23, 'physics': 45, 'chemistry': 67, 'english': 89, 'hindi': 90}

marks_series = pd.Series(marks_dict, name = 'Marks of students in dict')
marks_series

maths        23
physics      45
chemistry    67
english      89
hindi        90
Name: Marks of students in dict, dtype: int64

Series Attributes

In [11]:
# size

marks_series.size

5

In [12]:
# dtype

marks_series.dtype

dtype('int64')

In [13]:
# name

marks_series.name

'Marks of students in dict'

In [14]:
# is_unique

marks_series.is_unique

True

In [15]:
# index

marks_series.index

Index(['maths', 'physics', 'chemistry', 'english', 'hindi'], dtype='object')

In [18]:
# values

marks_series.values

type(marks_series)

pandas.core.series.Series

Series using read_csv